<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.75" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <div class="main">
        <div class="top">
            <div class="search-div">
                <input class="search" type="text" placeholder="Enter city, zip code or ip" />
                <svg class="search-svg" width="45" height="45" viewBox="0 0 45 45" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M16.6468 0C21.0618 0 25.296 1.75386 28.4179 4.87574C31.5398 7.99763 33.2937 12.2318 33.2937 16.6468C33.2937 20.7701 31.7826 24.5605 29.2984 27.4801L29.9899 28.1716H32.0131L44.8184 40.9768L40.9768 44.8184L28.1716 32.0131V29.9899L27.4801 29.2984C24.5605 31.7826 20.7701 33.2937 16.6468 33.2937C12.2318 33.2937 7.99763 31.5398 4.87574 28.4179C1.75386 25.296 0 21.0618 0 16.6468C0 12.2318 1.75386 7.99763 4.87574 4.87574C7.99763 1.75386 12.2318 0 16.6468 0ZM16.6468 5.1221C10.2442 5.1221 5.1221 10.2442 5.1221 16.6468C5.1221 23.0495 10.2442 28.1716 16.6468 28.1716C23.0495 28.1716 28.1716 23.0495 28.1716 16.6468C28.1716 10.2442 23.0495 5.1221 16.6468 5.1221Z"
                        fill="black" fill-opacity="0.7" />
                </svg>
            </div>
        </div>
        <div class="middle">
            <div class="weather">
                <div class="left">
                    <div class="svg-container"></div>
                    <div class="temp-text">
                        <div class="big">
                            <span class="big_num">25</span>
                            <span class="degree">°</span>
                            <span class="unit"></span>
                            <div class="feels">feels like 23</div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="place">Addis Ababa, Ethiopia</div>
                    <div class="date">03/04/23</div>
                    <div class="day-choice">
                        <div class="day-container">
                            <div class="today picked">Today</div>
                            <div class="tomorrow">Tomorrow</div>
                            <div class="two-days">2 Days</div>
                        </div>
                    </div>
                </div>
                <div class="display">
                    <div class="humidity info">
                        <div class="info_svg_container">
                            <svg class="humidity-svg" width="95" height="95" viewBox="0 0 95 95" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M27.6521 64.5158C36.2705 64.5158 43.3218 57.3482 43.3218 48.653C43.3218 44.1096 41.0889 39.8012 36.623 36.1586C32.1572 32.516 28.7882 27.1109 27.6521 21.4316C26.5161 27.1109 23.1863 32.5552 18.6812 36.1586C14.1762 39.762 11.9824 44.1487 11.9824 48.653C11.9824 57.3482 19.0338 64.5158 27.6521 64.5158Z"
                                stroke="#FAB451" stroke-width="8.06126" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M49.4333 26.5161C52.1275 22.2121 54.0374 17.4647 55.0744 12.4941C57.0331 22.286 62.9092 31.6862 70.7441 37.953C78.5789 44.2197 82.4964 51.6615 82.4964 59.495C82.5187 64.9091 80.9328 70.2079 77.9396 74.7197C74.9464 79.2316 70.6807 82.7532 65.6833 84.8383C60.6859 86.9233 55.1818 87.4778 49.8688 86.4315C44.5558 85.3853 39.6732 82.7853 35.8398 78.9612"
                                stroke="#FAB451" stroke-width="8.06126" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        </div>
                        <div class="righter">
                            <div class="title">Humidity</div>
                        <div class="number">55%</div>
                        </div>
                        
                        
                    </div>
                    <div class="pressure info">
                        <div class="info_svg_container">
                            <svg width="95" height="95" viewBox="0 0 95 95" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M47.5566 55.6532L63.2692 39.9434" stroke="#FAB451" stroke-width="8.08333"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M13.5391 75.2926C10.0911 69.3222 8.27565 62.5494 8.27539 55.6551C8.27513 48.7608 10.09 41.9878 13.5376 36.0171C16.9852 30.0464 21.9441 25.0882 27.9157 21.641C33.8874 18.1937 40.6614 16.3789 47.5569 16.3789C54.4524 16.3789 61.2265 18.1937 67.1981 21.641C73.1698 25.0882 78.1286 30.0464 81.5762 36.0171C85.0238 41.9878 86.8387 48.7608 86.8384 55.6551C86.8382 62.5494 85.0228 69.3222 81.5747 75.2926"
                                stroke="#FAB451" stroke-width="8.08333" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        </div>
                        
                        <div class="righter">
                            <div class="title">Pressure</div>
                        <div class="number">1000mb</div>
                        </div>
                        
                    </div>
                    <div class="uv info">
                        <div class="info_svg_container">
                            <svg width="95" height="96" viewBox="0 0 95 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_43_341)">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M94.8792 48.7475L82.0754 54.9295L87.7157 64.6387L77.0387 66.9303L81.0891 80.356L68.1123 76.6395L66.1522 87.706L56.0787 81.9455L50.4401 95.0503L43.1132 82.9405L34.4286 89.7251L30.8992 78.9612L17.7419 84.3365L20.7359 71.1815L9.42724 69.9449L14.222 60.0553L3.96884 54.7476L11.99 46.9711L0.603516 38.8595L14.6443 34.2458L10.6632 23.844L21.731 23.3014L19.6121 9.96451L32.2272 15.7922L36.4792 5.26981L44.9531 12.3553L52.3695 0.669922L57.7687 13.7725L67.842 9.15879L69.3493 19.863L82.687 16.9294L77.8232 30.0246L88.7712 33.0089L82.2267 42.2058L94.8792 48.7475ZM35.648 38.2347V52.3413H37.7839C38.5462 52.3413 39.0674 52.2461 39.3482 52.0556C39.6292 51.8652 39.7694 51.4288 39.7694 50.747V38.2347H45.7859V48.7919C45.7859 50.4962 45.6754 51.87 45.4547 52.9126C45.2341 53.9552 44.823 54.8374 44.2214 55.5596C43.62 56.281 42.7977 56.7826 41.7549 57.0633C40.7122 57.3442 39.3584 57.4844 37.6939 57.4844C36.029 57.4844 34.6804 57.3442 33.6476 57.0633C32.615 56.7826 31.7975 56.281 31.1959 55.5596C30.5944 54.8374 30.1834 53.9552 29.9627 52.9126C29.7421 51.87 29.6316 50.4962 29.6316 48.7919V38.2347H35.648ZM59.5035 38.2347H65.8511L61.1881 57.0332H52.404L47.7413 38.2347H54.0884L56.6459 50.1756H56.9163L59.5035 38.2347ZM78.5175 47.6936C78.5175 39.0699 75.4715 31.7426 69.3799 25.6833C63.2872 19.6214 55.9297 16.5765 47.3366 16.5765C38.7409 16.5765 31.4125 19.6214 25.351 25.6833C19.2884 31.7426 16.2426 39.0699 16.2426 47.6936C16.2426 56.2853 19.2884 63.6432 25.351 69.7645C31.4125 75.8853 38.7405 78.9612 47.3366 78.9612C55.9297 78.9612 63.2872 75.8853 69.3799 69.7645C75.4715 63.6437 78.5175 56.2858 78.5175 47.6942V47.6936Z"
                                    fill="#FAB451" />
                            </g>
                            <defs>
                                <clipPath id="clip0_43_341">
                                    <rect width="94.2757" height="94.3804" fill="white"
                                        transform="translate(0.603516 0.669922)" />
                                </clipPath>
                            </defs>
                        </svg>
                        </div>
                        
                        <div class="righter">
                            <div class="title">UV</div>
                        <div class="number">4 M</div>
                        </div>
                        
                    </div>
                    <div class="wind info">
                        <div class="info_svg_container">
                             <svg width="95" height="94" viewBox="0 0 95 94" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M69.6026 30.3698C70.7405 29.2743 72.1284 28.4727 73.646 28.0342C75.1636 27.5958 76.7653 27.5338 78.3123 27.8537C79.8592 28.1736 81.3049 28.8656 82.5241 29.87C83.7433 30.8743 84.6993 32.1606 85.3093 33.6175C85.9192 35.0744 86.1648 36.6581 86.0248 38.2313C85.8848 39.8045 85.3633 41.3199 84.5055 42.6462C83.6478 43.9725 82.4796 45.0698 81.1022 45.843C79.7247 46.6163 78.1795 47.0422 76.6004 47.0839H8.56641"
                                stroke="#FAB451" stroke-width="8.83333" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M38.1126 18.3236C39.0133 17.4051 40.1278 16.7245 41.3564 16.3426C42.5849 15.9608 43.889 15.8897 45.1518 16.1357C46.4145 16.3818 47.5965 16.9372 48.5917 17.7524C49.587 18.5675 50.3643 19.6168 50.8542 20.8062C51.344 21.9956 51.531 23.288 51.3984 24.5674C51.2658 25.8469 50.8178 27.0734 50.0944 28.1371C49.371 29.2009 48.395 30.0685 47.2537 30.6623C46.1125 31.256 44.8417 31.5574 43.5553 31.5393H8.56641"
                                stroke="#FAB451" stroke-width="8.83333" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M49.7756 75.8513C50.6763 76.7697 51.7908 77.4504 53.0193 77.8322C54.2479 78.2141 55.552 78.2852 56.8147 78.0391C58.0775 77.7931 59.2595 77.2376 60.2547 76.4225C61.2499 75.6074 62.0273 74.5581 62.5172 73.3687C63.007 72.1792 63.194 70.8869 63.0614 69.6074C62.9288 68.328 62.4807 67.1014 61.7574 66.0377C61.034 64.974 60.0579 64.1064 58.9167 63.5126C57.7755 62.9188 56.5047 62.6175 55.2183 62.6355H8.56641"
                                stroke="#FAB451" stroke-width="8.83333" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        </div>
                       
                        <div class="righter">
                            <div class="title">Wind</div>
                        <div class="number">5 km/hr</div>
                        </div>
                        
                    </div>
                    <div class="max info">
                        <div class="info_svg_container">
                            <svg class="max-svg" width="40" height="78" viewBox="0 0 40 78" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M31.5446 42.7587V11.6629C31.5446 8.57021 30.3158 5.60421 28.1286 3.41736C25.9414 1.23051 22.9748 0.00195313 19.8816 0.00195312C16.7884 0.00195313 13.8219 1.23051 11.6347 3.41736C9.44744 5.60421 8.21867 8.57021 8.21867 11.6629V42.7587C4.95487 45.2061 2.54399 48.6183 1.32754 52.5118C0.111087 56.4053 0.150737 60.5827 1.44087 64.4525C2.731 68.3222 5.20621 71.688 8.51588 74.073C11.8255 76.4581 15.8019 77.7415 19.8816 77.7415C23.9614 77.7415 27.9377 76.4581 31.2474 74.073C34.5571 71.688 37.0323 68.3222 38.3224 64.4525C39.6125 60.5827 39.6522 56.4053 38.4357 52.5118C37.2193 48.6183 34.8084 45.2061 31.5446 42.7587ZM19.8816 7.77591C20.9127 7.77591 21.9016 8.18543 22.6306 8.91438C23.3597 9.64333 23.7693 10.632 23.7693 11.6629H15.994C15.994 10.632 16.4036 9.64333 17.1327 8.91438C17.8617 8.18543 18.8506 7.77591 19.8816 7.77591Z"
                                fill="#FAB451" />
                        </svg>
                        </div>
                        
                        <div class="righter">
                            <div class="title">Max</div>
                        <div class="number"><span class="maxNum">28</span> °<span class="inside-unit">C</span></div>
                        </div>
                        
                    </div>
                    <div class="min info">
                        <div class="info_svg_container">
                            <svg class="min-svg" width="40" height="78" viewBox="0 0 40 78" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M31.9274 42.7587V11.6629C31.9274 8.57021 30.6986 5.60421 28.5114 3.41736C26.3242 1.23051 23.3577 0.00195313 20.2645 0.00195312C17.1712 0.00195313 14.2047 1.23051 12.0175 3.41736C9.83026 5.60421 8.60148 8.57021 8.60148 11.6629V42.7587C5.33768 45.2061 2.9268 48.6183 1.71035 52.5118C0.4939 56.4053 0.533549 60.5827 1.82368 64.4525C3.11381 68.3222 5.58902 71.688 8.89869 74.073C12.2084 76.4581 16.1847 77.7415 20.2645 77.7415C24.3442 77.7415 28.3205 76.4581 31.6302 74.073C34.9399 71.688 37.4151 68.3222 38.7052 64.4525C39.9954 60.5827 40.035 56.4053 38.8186 52.5118C37.6021 48.6183 35.1912 45.2061 31.9274 42.7587ZM20.2645 7.77591C21.2955 7.77591 22.2844 8.18543 23.0134 8.91438C23.7425 9.64333 24.1521 10.632 24.1521 11.6629V38.8717H16.3768V11.6629C16.3768 10.632 16.7864 9.64333 17.5155 8.91438C18.2445 8.18543 19.2334 7.77591 20.2645 7.77591Z"
                                fill="#FAB451" />
                        </svg>

                        <path
                            d="M27.6521 64.5158C36.2705 64.5158 43.3218 57.3482 43.3218 48.653C43.3218 44.1096 41.0889 39.8012 36.623 36.1586C32.1572 32.516 28.7882 27.1109 27.6521 21.4316C26.5161 27.1109 23.1863 32.5552 18.6812 36.1586C14.1762 39.762 11.9824 44.1487 11.9824 48.653C11.9824 57.3482 19.0338 64.5158 27.6521 64.5158Z"
                            stroke="#FAB451" stroke-width="8.06126" stroke-linecap="round" stroke-linejoin="round" />
                        <path
                            d="M49.4333 26.5161C52.1275 22.2121 54.0374 17.4647 55.0744 12.4941C57.0331 22.286 62.9092 31.6862 70.7441 37.953C78.5789 44.2197 82.4964 51.6615 82.4964 59.495C82.5187 64.9091 80.9328 70.2079 77.9396 74.7197C74.9464 79.2316 70.6807 82.7532 65.6833 84.8383C60.6859 86.9233 55.1818 87.4778 49.8688 86.4315C44.5558 85.3853 39.6732 82.7853 35.8398 78.9612"
                            stroke="#FAB451" stroke-width="8.06126" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        </div>
                        
                        <div class="righter">
                            <div class="title">Min</div>
                        <div class="number"><span class="minNum">22</span> °<span class="inside-unit">C</span></div>
                        </div>
                        
                    </div>
                    <div class="precipitation info">
                        <div class="info_svg_container">
                            <svg width="95" height="84" viewBox="0 0 95 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M18.9321 54.5752C20.4582 54.765 21.5364 56.1618 21.3466 57.6877C21.1568 59.2136 19.7597 60.2916 18.2335 60.1019C16.2062 59.8437 14.3687 59.3655 12.6983 58.6746C10.9747 57.961 9.44853 57.0424 8.10459 55.9189C6.82898 54.8561 5.71282 53.649 4.76371 52.3357C2.22768 48.8435 0.860956 44.5771 0.830584 40.3258C0.800212 36.029 2.13656 31.7549 5.02187 28.2931C5.95579 27.1696 7.05677 26.1371 8.31719 25.2261C9.78262 24.1633 11.4606 23.2675 13.3589 22.5311C14.6649 22.0225 16.0619 21.5974 17.535 21.2557C19.2054 14.6207 22.7665 9.51157 27.345 5.9663C31.6274 2.64878 36.783 0.712929 42.0904 0.204293C47.3751 -0.304342 52.8116 0.591464 57.6938 2.93726C63.0241 5.49562 67.6709 9.7545 70.6853 15.7443C71.9002 15.5545 73.115 15.4558 74.3223 15.471C79.4247 15.5013 84.3449 17.3309 88.2173 21.5063C89.0298 22.3793 89.7966 23.3662 90.5104 24.467C92.9401 28.202 94.1853 33.1897 94.1322 38.0711C94.079 42.8614 92.7882 47.6289 90.1459 51.1438C88.4223 53.4289 86.2128 55.2964 83.5629 56.7767C81.0117 58.204 78.0352 59.2896 74.6944 60.0639C73.191 60.4055 71.6952 59.4718 71.3535 57.9686C71.0118 56.4655 71.9457 54.97 73.4491 54.6283C76.2661 53.9755 78.7414 53.0796 80.8294 51.9105C82.8264 50.7946 84.4588 49.4357 85.6813 47.8035C87.5795 45.2755 88.5134 41.6999 88.5514 38.0331C88.597 34.1842 87.6554 30.3201 85.8256 27.5112C85.3016 26.7065 84.7246 25.9701 84.1171 25.3172C81.3761 22.3641 77.8986 21.0735 74.2843 21.0508C71.6572 21.0356 68.9541 21.6657 66.3801 22.8044C65.8107 23.0853 65.2412 23.389 64.6717 23.723C62.9633 24.7251 61.2777 25.9473 59.5541 27.3518L55.8791 23.146C57.1472 21.9694 58.5215 20.8989 59.9793 19.95C61.141 19.1908 62.3559 18.5228 63.6011 17.9382C64.1022 17.6877 64.611 17.4524 65.1197 17.2322C62.6976 12.943 59.2124 9.86837 55.2641 7.97048C51.3158 6.08018 46.8967 5.35138 42.5916 5.76892C38.3168 6.17887 34.1634 7.73514 30.7314 10.3998C26.7604 13.482 23.746 18.0749 22.5843 24.1709L22.2198 26.0764L20.3216 26.4104C18.4613 26.7369 16.7985 27.1848 15.3406 27.7541C13.9283 28.3007 12.6679 28.9764 11.567 29.7735C10.6862 30.4112 9.92688 31.1248 9.28149 31.8991C7.28455 34.2905 6.35822 37.2892 6.381 40.3258C6.40378 43.408 7.40604 46.5205 9.25871 49.0789C9.94966 50.0278 10.7469 50.9009 11.6581 51.66C12.5844 52.4268 13.6246 53.0645 14.7939 53.5427C16.0392 54.0286 17.4135 54.3854 18.9321 54.5752ZM43.0699 60.6257C44.7328 68.3463 49.7289 72.2028 49.7289 76.0669C49.7289 79.9311 48.066 83.7876 43.0699 83.7876C38.0738 83.7876 36.4109 79.9311 36.4109 76.0669C36.4109 72.2104 41.3995 68.3463 43.0699 60.6257ZM57.8457 40.2347C59.5085 48.6158 64.5047 52.8063 64.5047 56.9969C64.5047 61.1875 62.8418 65.378 57.8457 65.378C52.8496 65.378 51.1867 61.1875 51.1867 56.9969C51.1867 52.8063 56.1828 48.6158 57.8457 40.2347ZM35.5605 39.4224C36.7602 44.9718 40.3517 47.7504 40.3517 50.5289C40.3517 53.3074 39.152 56.0783 35.5605 56.0783C31.9691 56.0783 30.7694 53.2998 30.7694 50.5289C30.7694 47.7504 34.3609 44.9718 35.5605 39.4224Z"
                                fill="#FAB451" />
                        </svg>
                        </div>
                        
                        <div class="righter">
                            <div class="title">Precip</div>
                        <div class="number">1mm</div>
                        </div>
                        
                    </div>
                    <div class="rain info">
                        <div class="info_svg_container">
                            <svg width="86" height="78" viewBox="0 0 86 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M49.7238 2.7097C47.7318 -0.749587 42.7341 -0.749587 40.7421 2.7097L21.4389 36.1145C10.8728 54.4242 24.0833 77.2998 45.2271 77.2998C66.3709 77.2998 79.5815 54.4242 69.0154 36.1145L49.7238 2.7097ZM28.2189 44.0697C28.2189 40.6337 31.0147 37.8383 34.4513 37.8383C37.8879 37.8383 40.6838 40.6337 40.6838 44.0697C40.6838 47.5057 37.8879 50.3011 34.4513 50.3011C31.0147 50.3011 28.2189 47.5057 28.2189 44.0697ZM39.4839 57.6855C39.0762 58.1514 38.4937 58.3844 37.9229 58.3844C37.422 58.3844 36.9327 58.2097 36.525 57.8486C35.6629 57.0799 35.593 55.752 36.3619 54.8901L50.982 38.5139C51.7508 37.652 53.0789 37.5821 53.9409 38.3508C54.803 39.1195 54.8729 40.4473 54.104 41.3092L39.4839 57.6855ZM56.0146 58.3844C52.578 58.3844 49.7821 55.589 49.7821 52.153C49.7821 48.717 52.578 45.9216 56.0146 45.9216C59.4512 45.9216 62.247 48.717 62.247 52.153C62.247 55.589 59.4512 58.3844 56.0146 58.3844Z"
                                fill="#FAB451" />
                            <path
                                d="M34.4507 42.0195C33.3207 42.0195 32.4004 42.9397 32.4004 44.0695C32.4004 45.1993 33.3207 46.1194 34.4507 46.1194C35.5807 46.1194 36.501 45.1993 36.501 44.0695C36.501 42.928 35.5807 42.0195 34.4507 42.0195Z"
                                fill="#FAB451" />
                            <path
                                d="M56.0132 50.1035C54.8832 50.1035 53.9629 51.0237 53.9629 52.1535C53.9629 53.2833 54.8832 54.2034 56.0132 54.2034C57.1432 54.2034 58.0635 53.2833 58.0635 52.1535C58.0635 51.0237 57.1432 50.1035 56.0132 50.1035Z"
                                fill="#FAB451" />
                            <path
                                d="M84.044 15.7656L78.7435 6.58741C78.196 5.63232 76.8213 5.63232 76.2738 6.58741L70.9733 15.7656C68.0609 20.7973 71.6956 27.0869 77.5087 27.0869C83.3218 27.0869 86.9448 20.7973 84.044 15.7656Z"
                                fill="#FAB451" />
                            <path
                                d="M8.81187 56.7886C8.26435 55.8335 6.88971 55.8335 6.34218 56.7886L1.04166 65.9667C-1.87071 70.9984 1.76393 77.288 7.57703 77.288C13.3901 77.288 17.0131 70.9984 14.1124 65.9667L8.81187 56.7886Z"
                                fill="#FAB451" />
                        </svg>
                        </div>
                        
                        <div class="righter">
                            <div class="title">Rain %</div>
                        <div class="number">30%</div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="cities">
                <div class="country">Ethiopian Cities</div>
                <div class="city_container">
                    <div class="city">
                        <div class="city-name">Bahir Dar</div>
                        <div class="city-weather">
                            <div class="city-temp">19° C</div>
                            <div class="city_svg_div">

                            </div>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-name">Bahir Dar</div>
                        <div class="city-weather">
                            <div class="city-temp">19° C</div>
                            <div class="city_svg_div"></div>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-name">Bahir Dar</div>
                        <div class="city-weather">
                            <div class="city-temp">19° C</div>
                            <div class="city_svg_div"></div>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-name">Bahir Dar</div>
                        <div class="city-weather">
                            <div class="city-temp">19° C</div>
                            <div class="city_svg_div"></div>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-name">Bahir Dar</div>
                        <div class="city-weather">
                            <div class="city-temp">19° C</div>
                            <div class="city_svg_div"></div>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-name">Bahir Dar</div>
                        <div class="city-weather">
                            <div class="city-temp">19° C</div>
                            <div class="city_svg_div"></div>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-name">Bahir Dar</div>
                        <div class="city-weather">
                            <div class="city-temp">19° C</div>
                            <div class="city_svg_div"></div>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-name">Bahir Dar</div>
                        <div class="city-weather">
                            <div class="city-temp">19° C</div>
                            <div class="city_svg_div"></div>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-name">Bahir Dar</div>
                        <div class="city-weather">
                            <div class="city-temp">19° C</div>
                            <div class="city_svg_div"></div>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-name">Bahir Dar</div>
                        <div class="city-weather">
                            <div class="city-temp">19° C</div>
                            <div class="city_svg_div"></div>
                        </div>
                    </div>
                    <div class="city">
                        <div class="city-name">Bahir Dar</div>
                        <div class="city-weather">
                            <div class="city-temp">19° C</div>
                            <div class="city_svg_div"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hourly">
                <div class="hourly-city">
                    <div class="cities_title">Hourly Tempratures of Addis Ababa</div>
                    <div class="city_date">03/04/23</div>
                </div>

                <div class="chart_container">
                    <canvas id="chart" width="700px" height="400px"></canvas>
                </div>
            </div>
        </div>
    </div>
    <script src="print.js"></script>
</body>

</html>